<!DOCTYPE html>
<html>
<head>
	<title>simple form</title>
</head>
<body bgcolor="orange" >
	<div align="center">
		<h1> SIMPLE FORM </h1>
	<form name="simple form" method="post">
		<div>
			<tr>
      <th><h4>Teacher Name:</th> 
      	<th><input type="text" name="name" value=""	></h4></th></h4></th>
      </tr>
      	<tr>
          <th><h4>Teacher: <select name="subject">
            <option>subject</option>
               <option>English</option>
               <option>Math</option>
               <option>Histry</option>
               <option>Civix</option>
               <option>Hindi</option>
               <option>Gography</option>
      </select></h4></th></tr>
      <tr>
      	<th><h4>Teacher:<select name="subject"> 
         	 <option>subject</option>
         	 <option>English</option>
         	 <option>Math</option>
         	 <option>Histry</option>
         	 <option>Civix</option>
         	 <option>Hindi</option>
         	 <option>Gography</option>
      </select></h4></th></tr>
      <tr> 
      	<th> <h4> Gender:<input type="radio" name="gender" value="male">Male<input type="radio" name="gender" value="female">Female
      	</h4></th>
      </tr>
      <tr>
      	<th><h4> Address:<textarea row="5" cols="50" name="address" value="address"></textarea>
      	</h4> </th>
      </tr>
      <tr>
       <th><h4>
              All Select: <input type="checkbox" name="all select" value="" checked="checked">
       	                  <input type="checkbox" name="all select" value="" checked="checked">
       	                  <input type="checkbox" name="all select" value="" checked="checked">
       	                  <input type="checkbox" name="all select" value="" checked="checked"> 
       	 </h4></th> 
       </tr>
       <tr> 
       	<th><h4> Subject:<select name="subject">
       	<option>select</option>
       	<option>English</option>
       	<option>Math</option>
       	<option>Histry</option>
       	<option>Civix</option>
       	<option>Hindi</option>
       	<option>Gography</option>
       </select></h4></th>
  </tr>
      <tr>
       	<th><h4>City:<select name="City">
       	<option></option>
       	<option>ABMNK</option>
       	<option>CDCHG</option>
       	<option>EFFHJ</option>
       	<option>GHFHJ</option>
       	<option>IJGJK</option>
       	<option>KLFUJ</option>
      </select></h4></th>
  </tr>
    <tr><input type="submit" name="submit" value="submit"> 
    	<input type="Reset" name="Reset" value="Reset"> 
    	<input type="Button" name="button" value="Button"> 
    	<input type="Edit" name ="Edit" value="Edit"> 
     </tr>
 </div>
</form>
</div>
</body>
</html>